.nav-link{
    color: grey;
}
 .navbar-brand mb-0 h1{
     color: white;
 }

 body {
     background-color: gainsboro;
 }

.container {
    background-color: white;
    margin-top: 50px;
}

.card   {
    margin-left: 4%;
}

.p-3 {
    margin-left: 3%;
}

