 
.container {
    background-color: white;
    
  
}

.card {
    margin-left: 4%;
}

.p-3 {
    margin-left: 3%;
}

main {
    margin-top: 100px;

}

#kk {
    margin-left: 3%;
}

img {
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
    width: 70%;
    height: auto;
}

.py-4 {
    height: 10px;
}
.green-border {
    background-color: teal;
    height: 15px ;
}

.click {
    border-bottom: solid black;
    border-top: solid black;
    border-left: solid black;
    border-right:solid black;
}

.kellyinfo {
    float: right;
}


